html,body {
    background-color: #d2cece; /* 例：ダークモード風 */
    color: rgb(26, 25, 25);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 画面いっぱいに広げる */
  }
  .calculator {
    width: 340px;
    height: 490px;
    border-radius: 30px;
    background: #d3d3d3;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }