html, body {
  margin: 0;
  padding: 0;
  background-color: #868585;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;

}


